{% extends "profiles/global-base-ui/global_base_ui.html" %}

{% block sidebar%}
    <div class="ui bottom attached segment pushable">
        <div class="ui inverted labeled icon left inline vertical sidebar menu" id = "sidebar" >

            {% if request.session.session_user_position == "Administrator" %}
            <a class="item" href="{% url 'profiles:dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'profiles:profile'%}"><i class="user circle icon"></i>Profile</a>
            <a class="item" href="{% url 'planningandacquiring:K9_list'%}"><i class="clipboard list icon"></i>Planning and Acquiring</a>
            <a class="item" href="{% url 'deployment:assigned_location_list'%}"><i class="road icon"></i>Deployment</a>
            <a class="item" href="{% url 'training:training_records'%}"><i class="paw icon"></i>Training</a>
            <a class="item" href="{% url 'inventory:medicine_inventory_list'%}"><i class="warehouse icon"></i>Inventory</a>
            <a class="item" href="{% url 'profiles:user_list'%}"><i
            class="folder open icon"></i>Unit Management</a>
            <a class="item" href="{% url 'planningandacquiring:k9_performance_date'%}"><i class="folder open icon"></i>Reports</a>
            {% elif request.session.session_user_position == "Veterinarian" %}
            <a class="item" href="{% url 'profiles:vet_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'profiles:profile'%}"><i class="user circle icon"></i>Profile</a>
            <a class="item" href="{% url 'planningandacquiring:K9_list'%}"><i class="clipboard list icon"></i>Planning and Acquiring</a>
            <a class="item" href="{% url 'inventory:medicine_inventory_list'%}"><i class="warehouse icon"></i>Inventory</a>
            <a class="item" href="{% url 'unitmanagement:k9_sick_list'%}"><i class="folder open icon"></i>Unit Management</a>
            <a class="item" href="{% url 'training:adoption_list'%}"><i class="handshake icon"></i>Adoption</a>

            {% elif request.session.session_user_position == "Team Leader" %}
             <a class="item" href="{% url 'profiles:team_leader_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'unitmanagement:replenishment_form'%}"><i class="folder open icon"></i>Unit Management</a>
            
            {% elif request.session.session_user_position == "Handler"%}
            <a class="item" href="{% url 'profiles:handler_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'profiles:profile'%}"><i class="user circle icon"></i>Profile</a>
            <a class="item" href="{% url 'unitmanagement:health_history_handler'%}"><i class="folder open icon"></i>Unit Management</a>
            
            {% elif request.session.session_user_position == "Trainer"%}
            <a class="item" href="{% url 'profiles:trainer_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'profiles:profile'%}"><i class="user circle icon"></i>Profile</a>
            <a class="item" href="{% url 'training:classify_k9_list'%}"><i class="paw icon"></i>Training</a>
            <!--<a class="item" href="{% url 'unitmanagement:health_history_handler'%}"><i class="folder open icon"></i>Unit Management</a>-->

            {% elif request.session.session_user_position == "Commander"%}
            <a class="item" href="{% url 'profiles:commander_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'deployment:assigned_location_list'%}"><i class="road icon"></i>Deployment</a>

            {% elif request.session.session_user_position == "Operations"%}
            <a class="item" href="{% url 'profiles:operations_dashboard'%}"><i class="chart line icon"></i>Homepage</a>

            {% else %}
            <a class="item" href="{% url 'profiles:team_leader_dashboard'%}"><i class="chart line icon"></i>Homepage</a>
            <a class="item" href="{% url 'profiles:profile'%}"><i class="user circle icon"></i>Profile</a>
            <a class="item" href="{% url 'deployment:deployment_area_details'%}"><i class="folder open icon"></i>Unit Management</a>
                        
            {% endif %}

            <a class="item" href="{% url 'profiles:logout'%}">Logout</a>
        </div>
        
        <!--html pages-->
       
        <div class="pusher">
                {% block sidebar_module %}
                {% endblock%}
                {% block dashboard %}
                {% endblock%}

        </div>
        
    </div>
{% endblock%}


{% block script%}
<script>
    $(document).ready(function(){
        $( "#menu" ).on("click", function() {
            $('#sidebar').sidebar({
                context: $('.bottom.segment')
            }).sidebar('attach events', '.menu .item');
        });


        $('.ui.menu .ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.ui.menu .item').on('click', function() {
            $(this)
            .addClass('active')
            .siblings()
            .removeClass('active');
        })
    });
</script>

{% endblock%}
