{% extends "profiles/sidebar_deployment.html" %}

{% block content %}
<div class="ui fluid container">
        <div class="ui grid">
            <div class="three column row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <h1 class="ui header">{{ title }}
                        <div class="sub header">{{ texthelp }}</div>

                    </h1>
                    <div class="ui inverted segment">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="{{ style }} row"> {{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <form class = "ui inverted form" method="POST">
                           {% csrf_token %}
                            <div class="field">
                                <label>Area</label>
                                    {{form.name}}
                            </div>

                            <div class="ui inverted right aligned segment" style="padding: 0px;">
                                <button class = "ui button green" type="submit" >{{actiontype}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock%}
