{% extends "profiles/sidebar_deployment.html" %}
{% load index %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h1 class="ui header">{{ title }}</h1>

</div>

<div class = "ui segment">

		<table id="tabledata" class="ui celled table">
        	<thead>
          	<tr>
            <th>Date</th>
                <th>Location</th>
                <th>Type</th>
				<th></th>
          	</tr>
    		</thead>
    		<tbody>
				{% for incident in incidents %}
    				<tr>
                        <td>{{ incident.date |date:'Y-m-d'}}</td>
                        <td>{{ incident.location }}</td>
                        <td>{{ incident.type }}</td>
						<td><a href="{% url 'deployment:incident_detail' incident.id %}">View Details</a></td>
    				</tr>
				{% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">

	$('#tabledata').DataTable( {
        "order": [[ 0, "desc" ],[ 1, "asc" ]]
    });
	$('.menu .item').tab();


</script>
{% endblock %}