{% extends "profiles/sidebar_deployment.html" %}

{% load um_tags %}
{% load widget_tweaks %}

{% block content %}
<h2 class="ui header">
    {{title}}
    {{geoform.media}}
    <div class="sub header">Input request details here</div>
</h2>
       
<div class="ui fluid container">
    <form class="ui equal width form" id="request_form" action="{% url 'deployment:request_form' %}" method="POST">
    <div class="ui inverted segment">
        {% if messages %}
            {% for message in messages %}
                <div class="{{ style }}">{{message}}</div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        <div class="fields">
            <div class="field">
                <label>Requester</label>
                {{form.requester}}
            </div>

            <div class="field">
                <label>Event Name</label>
                {{form.event_name}}
            </div>

        </div>

        <div class="fields">

            <div class="field">
                <label>Area</label>
                {{form.area}}
            </div>
            <div class="field">
                <label>Phone Number</label>
                {{form.phone_number}}
            </div>
            <div class="field">
                <label>Email Address</label>
                {{form.email_address}}
            </div>

            <div class="field">
                <label>Number of K9s needed</label>
                {{form.k9s_needed}}
            </div>

        </div>



         <div class="fields">
            <div class="field">
                <label>Start of Event</label>
                {{form.start_date}}
            </div>
            <div class="field">
                <label>End of Event</label>
                {{form.end_date}}
            </div>
        </div>
        <div class="fields">
            <div class="six wide field">
                <label>Area</label>
                {{form.area}}
            </div>
            <div class="ten wide field">
                    <label>Address</label>
                    {{form.location}}
                </div>
        </div>
               <div class="ui inverted right aligned segment" style="padding: 0px;">
                    <button class = "ui button green" type="submit" >{{actiontype}}</button>
                </div>
                <div class="ui inverted placeholder segment">
                    <div class="ui two column stackable center aligned grid">
                      <div class="ui vertical divider"></div>
                      <div class="top aligned row">
                        <div class="column">
                      
                            <label>Search Location</label>
                            <div class="ui fluid category search">
                              <div class="ui icon input">
                                {{geosearch.search}}
                                <i class="search icon"></i>
                              </div>
                              <div class="results"></div>
                            </div>
                            <br>
                            <button id = "btn_search" class="ui blue button" type="button">Search</button>

                            <div  id ="id_location_cards"></div>


                        </div>
                        <div class="column">

                            <label>Geotag Location</label>
                          <div id = "id_geomap">
                              {{geoform.point}}
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
        </form>
</div>
<script>
    $("#btn_search").click(function () {
      var url = 'ajax_load_locations';  // get the url of the `load_locations` view
      var search_query = $("#id_search").val();  // get the search query from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request
        data: {
          'search_query': search_query, // add the search query to the GET parameters
           'width' : {{width}}
        },
        success: function (data) {   // `data` is the return of the `load_locations` view function
          $("#id_location_cards").html(data);  // replace the contents of the #id_location_cards input with the data that came from the server
        },
            error:
         function(xhr){
             alert("Error: " + xhr.statusText);
             //alert(xhr.responseText) --> to get the full details of error
             return false;
             }
      });

    });
  </script>



{% endblock %}