{% load static %}
{% block content %}
<div class="ui modal" id ="event_modal">

    {% if sched.status == "Request" %}
<div class="header">Requester: {{sched.dog_request.requester}}</div>
  <div class="content">
      <table class="ui basic table">
    <thead>
    <tr>
        <th class="two wide">Event Name</th>
        <td>{{sched.dog_request.event_name}}</td>

        <th class="two wide">Email</th>
        <td>{{sched.dog_request.email_address}}</td>

        <th class="two wide">Start Date</th>
        <td>{{sched.dog_request.start_date}}</td>

        <th class="two wide">End Date</th>
        <td>{{sched.dog_request.end_date}}</td>
    </tr>
    </thead>
</table>
        <h4>Location</h4>
      <textarea rows="4" cols="50" disabled="disabled">
{{sched.dog_request.location}}}
</textarea>

      <h4>Remarks</h4>
      <textarea rows="4" cols="50" disabled="disabled">
{{sched.dog_request.remarks}}
</textarea>

  </div>
    {% elif sched.status == "Checkup" %}
    <div class="header">Checkup</div>
  <div class="content">
      <table class="ui basic table">
    <thead>
    <tr>
        <th class="two wide">Start Date</th>
        <td>{{sched.date_start}}</td>

    </tr>
    </thead>
</table>
    {% elif sched.status == "Initial Deployment" %}
    <div class="header">Team: {{sched.team.team}}</div>
    {% else %}
      No Info
    {% endif %}
</div>



 {% endblock %}