{% extends "profiles/global-base-ui/sidebar_menu.html" %}

{% block sidebar_module %}
<div class="ui fluid container">
    <div class="ui basic segment">

        <div class="ui grid">
              {% if request.session.session_user_position == "Operations" %}
            <div class="three wide column">
                <div class="ui pointing vertical menu">
                    <a class="item"> <b>Deployment Menu</b></a>
                    <a href="{% url 'deployment:request_dog_list'%}" class="item">
                            <i class="clipboard list icon"></i>Request List
                        </a>
                </div>
            </div>


            {% elif request.session.session_user_position == "Commander" %}
            <div class="three wide column">
                <div class="ui pointing vertical menu">
                    <a class="item"> <b>Deployment Menu</b></a>
                    <a href="{% url 'deployment:assigned_location_list'%}" class="item">
                            <i class="list alternate icon"></i>Team Location List
                        </a>
                    <a href="{% url 'deployment:request_dog_list'%}" class="item">
                            <i class="clipboard list icon"></i>Request List
                        </a>
                </div>
            </div>

            {% else %}

            <div class="three wide column">
                    <div class="ui pointing vertical menu">
                        <a class="item"> <b>Deployment Menu</b></a>
                        <a href="{% url 'deployment:add_area'%}" class="item">
                            <i class="plus circle icon"></i>Add Area
                        </a>
                        <a href="{% url 'deployment:add_location'%}" class="item">
                            <i class="plus circle icon"></i>Add Location
                        </a>

                        <a href="{% url 'deployment:assigned_location_list'%}" class="item">
                            <i class="list alternate icon"></i>Team Location List
                        </a>
                        <a href="{% url 'deployment:request_form'%}" class="item">
                            <i class="exclamation icon"></i>Request K9 Form
                        </a>
                        <a href="{% url 'deployment:request_dog_list'%}" class="item">
                            <i class="clipboard list icon"></i>Request List
                        </a>
                        <a href="{% url 'deployment:view_incidents'%}" class="item">
                            <i class="clipboard list icon"></i>Incident List
                        </a>
                         <!--<a href="{% url 'deployment:choose_location'%}" class="item">-->
                            <!--<i class="clipboard list icon"></i>Schedule Deployment (beta)-->
                        <!--</a>-->
                        <a href="{% url 'deployment:schedule_units'%}" class="item">
                            <i class="clipboard list icon"></i>Schedule Deployment
                        </a>
                    </div>
            </div>

            {% endif %}
            <!>
            <div class="thirteen wide column">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script>
  $('.ui .item').on('click', function() {
      $('.ui .item').removeClass('active');
      $(this).addClass('active');
   }); 
</script>
{% endblock%}
