{% extends "profiles/sidebar_adoption.html" %} {% block content %}

<div class="ui inverted segment">
    <h2 class="ui header">
        Adoption Form
       </h2>
       {% if messages %}
       {% for message in messages %}
       <div class="{{ style }} row"> {{ message }}</div>
     {% endfor %}
     {% endif %}
</div>



<div class="ui ordered steps">
  <div class="active step">
    <div class="content">
      <div class="title">Ownership Form</div>
      <div class="description">Provide owner adoption data</div>
    </div>
  </div>
  <!-- <div class="disabled step">
    <div class="content">
      <div class="title">Confirm Adoption</div>
      <div class="description">Verify adoption details</div>
    </div>
  </div> -->
</div>

<div class="ui inverted segment">
    <form class = "ui inverted form" id="myForm" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="fields">
            <div class="six wide field">
                <label>First Name</label>
                <input type="text" placeholder="First Name" name="fname">
            </div>
            <div class="four wide field">
                <label>Middle Name</label>
                <input type="text" placeholder="Middle Name" name="mname">
            </div>
            <div class="six wide field">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" name="lname">
            </div>
        </div>

        <div class="field">
            <label>Address</label>
            <textarea rows="2" placeholder="Address" name="address"></textarea>
        </div>

        <div>
            <div class="three fields">
                <div class="field">
                    <label>How Many K9's up for Adoption?</label>
                    <input type="number" name='adopt_number'>
                </div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
        </div>
        
        <div id="id_form_data"></div>

        <div class="ui inverted center aligned segment" style="padding: 0px;">
            <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Submit</button>
        </div>

        
        {{formset.management_form}}
    </form>
</div>

<script>
    $(document).ready(function() {
  
      $("input[name='adopt_number']").change(function () {
            var url = 'adoption-form/ajax_load_form';  
            var adopt_number = $("input[name='adopt_number']").val();
          
            if (adopt_number==''){
                adopt_number=0;
            }

            $.ajax({                       
            url: url,                    
            data: {
                'num': adopt_number      
            },
            success: function (data) {   
                $("#id_form_data").html(data);  
            }
            });
      });
  
    });
</script>
{% endblock %}