{% extends "profiles/sidebar_adoption.html" %} {% block content %}

<h2 class="ui header">
 {{title}}
  <div class="sub header">Input K9 Adoption data here</div>
</h2>

<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Ownership Form</div>
      <div class="description">Provide owner adoption data</div>
    </div>
  </div>

  <div class="active step">
    <div class="content">
      <div class="title">Confirm Adoption</div>
      <div class="description">Verify adoption details</div>
    </div>
  </div>
</div>
        <h2 class="ui dividing header">K9 Information</h2>
		<table class="ui two column celled table">
        	<thead>
          	<tr>
                <th>Name</th>
                <td>{{data.name}}</td>
                </tr>
              <th>Breed</th>
                <td>{{data.breed}}</td>
                </tr>
            <tr>
              <th>Sex</th>
                <td>{{data.sex}}</td>
                </tr>
            <tr>
			  <th>Color</th>
                <td>{{data.color}}</td>
                </tr>
            <tr>
              <th>Birthdate</th>
                <td>{{data.birth_date}}</td>
                </tr>
            <tr>
              <th>Age (yrs & mos)</th>
                <td>{{data.age}} years and {{data.month_remainder}} months</td>
                </tr>
              <tr>
                <th>Age (days)</th>
                  <td>{{data.age_days}}</td>
                  </tr>

    		</thead>
        </table>



<form method="post">
 {% csrf_token %}
 <div class="ui center aligned basic segment">
    <div class="ui buttons">
        <button class="ui button" name="redo" onclick="return confirm('Are you sure?')">Start Over</button>
        <div class="or"></div>
        <button class="ui positive button" name="ok" onclick="return confirm('Are you sure?')">Confirm</button>
      </div>
</div>
  

</form>

{% endblock %}