{% extends "profiles/sidebar_training.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<table id="tabledata" class="ui six column celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Sex</th>
            <th>Age (yrs & mons)</th>
            <th>Age (days)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data %}
        <tr>
            <td>
                <a href="{% url 'training:training_details' data.id %}">{{data.name}}</a>
            </td>
            <td>{{data.breed}}</td>
            <td>{{data.sex}}</td>
            <td>{{data.age}} years and {{data.month_remainder}} months</td>
            <td class="right aligned">{{data.age_days}}</td>
            <td>{{data.training_status}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">

    $('#tabledata').DataTable({ "order": [[ 0, "asc" ]]  });
  
</script>
 {% endblock %}
