{% extends "profiles/sidebar_inventory.html" %}  

{% block content %}
<div class="ui fluid container">
    <div class="ui grid">
        <div class="three column row">
            <div class="four wide column"></div>
            <div class="eight wide column">
                    <h1 class="ui header">{{ title }}
                            <div class="sub header">{{ texthelp }}</div>
                        </h1>
                    
                        <div class="ui inverted segment">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="{{ style }} row"> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <form class = "ui inverted fluid form" method="POST">
                                {% csrf_token %}
                                <div class="two fields">
                                    <div class="field">
                                        <label>Name</label>
                                        <input type="text" value="{{data.medicine}}" readonly>
                                    </div>
                                    <div class="field">
                                        <label>Current Quantity</label>
                                        <input type="text" value="{{data.quantity}}" readonly>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="inline field">
                                        <div class="field">
                                            <label>{{label}}</label>
                                        </div>
                                        {{form.quantity}}
                                        <div class="ui left pointing blue basic label">
                                            Item per pc
                                        </div>
                                    </div>
                                </div>  
                                <div class="eight wide field" name = 'date'>
                                    <label>Expiration Date</label>
                                    <input name = "exp_date" type="date">
                                </div>

                                <div class="ui inverted right aligned segment" style="padding: 0px;">
                                    <button onclick="return confirm('Are you sure?')"  class = "ui button green" type="submit" >{{ actiontype }}</button>
                                </div>
                            </form>
                        </div>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>                    
</div>

<script type="text/javascript">

    $(document).ready(function() {
        if ('{{label}}' == 'Physical Count'){
            $("div[name='date']").hide(); 
        }
    });

</script>

{% endblock%}