{% extends "profiles/sidebar_inventory.html" %}  

{% block content %}
<div class="ui fluid container">
    <div class="ui grid">
        <div class="three column row">
            <div class="four wide column"></div>
            <div class="eight wide column">
                    <h1 class="ui header">{{ title }}
                            <div class="sub header">{{ texthelp }}</div>
                        </h1>
                    
                        <div class="ui inverted segment">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="{{ style }} row"> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <form class = "ui inverted form" method="POST">
                                {% csrf_token %}
                                <div class="two fields">
                                    <div class="field">
                                        <label>Miscellaneous</label>
                                        {{form.miscellaneous}}
                                    </div>
                                    <div class="field">
                                        <label>Type</label>
                                        {{form.misc_type}}
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Unit of Measurement</label>
                                        {{form.uom}}
                                    </div>
                                    <div class="field">
                                        <label>Price</label>
                                        {{form.price}}
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Description</label>
                                    {{form.description}}
                                </div>

                                <div class="ui inverted right aligned segment" style="padding: 0px;">
                                    <button onclick="return confirm('Are you sure?')" class = "ui button green" type="submit" >{{ actiontype }}</button>
                                </div>
                            </form>
                        </div>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>                    
</div>
{% endblock%}