{% if data_load %}

{% load static %}
{% block content %}
<div class="header">{{data_load.date}}</div>
<div class="image content">
  <img class="image" src="{% static 'images/qwe3.jpg' %}" style="max-width: 300px;max-height: 250px;">
  <div class="description">
    <p id = 'data_1'>{{data_load.description}}</p>
  </div>

</div>

<div class="ui segment">
    <form method="POST" class="ui form">
        {% csrf_token %}
      <div class="two fields">
          <div class="field">
              <label>Death Date</label>
              {{form.death_date}}
            </div>
            <div class="field">
              <label>Death Certificate</label>
              {{form.death_cert}}
            </div>
      </div>
      <input type="hidden" name="id_val" id="id_val" value="{{data_load.id}}">
      <center>
          <button class="ui red button" name="died" type="submit">Died</button>
          <button class="ui green button" name="recovered" type="submit">Recovered</button>
        </center>
      </form>
</div>

<script>
  $( document ).ready(function() {
      // $("#id_death_date").;


  });
</script>

{% endblock %}

{% endif %}