{% extends "profiles/sidebar_um.html" %}  

{% block content %}
<div class="ui basic segment" style="margin-bottom:0px;">
    <h2 class="ui header">
        {{title}}
        <div class="sub header">Input items Here</div>
    </h2>
</div>
<div class="ui info message">
    <div class="header">
        Fileds can be blank. Only input the items you need.
    </div>
    <ul class="list">
      <li>A total of 10 items or less can be requested at a time.</li>
    </ul>
  </div>

<form action="" class="ui form" enctype="multipart/form-data" method="POST" id="myForm">
    {% csrf_token %}
    <div class="three fields">
            <div class="field">
                <label>Requester</label>
                {{form.handler}}
            </div>
        <div class="field"></div>
        <div class="field"></div>
    </div>
    <div class="ui inverted segment">
            {% for form in form2 %}
            <div class="formset_class" id="{{ form.prefix }}-row">
                <div class="four fields">
                    <div class="field">
                        <label>Type</label>
                        {{form.item_type}}
                    </div>
                    <div class="field">
                        <label>Item</label>
                        {{form.item}}
                    </div>
                    <div class="field">
                        <label>UOM</label>
                        {{form.uom}}
                    </div>
                    <div class="field">
                        <label>Quantity</label>
                        {{form.quantity}}
                    </div>
                    <div class="field">
                        <label>Inventory Quantity</label>
                        {{form.on_hand}}
                    </div>
                </div>
            </div>
            {% endfor %}

            {{form2.management_form}}
    </div>
   <div class="ui basic center aligned segment">
        <button class="ui green button" type="submit" onclick="return confirm('Are you sure?')">Submit</button>
   </div>
</form>

<script type="text/javascript">

    $(function() {
        $('#myForm .formset_class').formset({
            prefix: '{{ formset.prefix }}'
        });
    })

   
    $(".type" ).bind('change', function() {
        var url = 'replenishment_form/ajax_load_item';
        var type = $(this).val();
        var id_val = $(this).attr('id');
        $.ajax({
            url: url,
            data: {
            'type': type
            },
            success: function (data) {
            var res = id_val.split("-");
            $('#id_form-'+res[1]+'-item').html(data);
            }
        });

    });


    $(".item" ).bind('change', function() {
        var id = $(this).val();
        var id_val = $(this).attr('id');

        var res = id_val.split("-");
        var type = $('#id_form-'+res[1]+'-item_type').val();

        var url = 'replenishment_form/ajax_load_item_food';
        $.ajax({
            url: url,
            type : 'GET',
            dataType : 'json',
            data: {
            'id': id,
            'type': type,
            },
            success: function (data) {
            var res = id_val.split("-");
            $('#id_form-'+res[1]+'-uom').val(data.uom);
            $('#id_form-'+res[1]+'-on_hand').val(data.quantity);
            }
        });

        });

    $(".quantity" ).bind('change', function() {
        var id = $(this).val();
        var id_val = $(this).attr('id');

        var res = id_val.split("-");
        var on_hand =  $('#id_form-'+res[1]+'-on_hand').val()
        console.log(on_hand, id)
        
        if(id > on_hand){
            alert('Inventory Item Insufficient.');
        }
    });
  
</script>
 {% endblock %}
