{% extends "profiles/sidebar_um.html" %}  

{% block content %}
<div class="ui inverted segment" style="margin-bottom:0px;">
    <h2 class="ui header">
        {{title}}
    </h2>
    {% if messages %}
    {% for message in messages %}
        <div class="{{style}}" > {{ message }}</div>
    {% endfor %}
    {% endif %}
</div>

<div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Pending</a>
        <a class="item" data-tab="second">Approved</a>
    </div>
    <div class="ui tab segment active" data-tab="first">
        <table id="tabledata1" class="ui  column celled table">
            <thead>
                <tr>
                    <th class="three wide">Date Requested</th>
                    <th class="three wide">Team Leader</th>
                    <th>Port</th>
                    <th class="two wide"></th>
                </tr>
            </thead>
            <tbody>
                {% for data in data1 %}
                <tr>
                    <td class="two wide">
                        <a href="{% url 'unitmanagement:replenishment_approval' data.0.id %}" > 
                            {{data.0.date_requested | date:'Y-m-d'}}</a>
                            
                    </td>
                    <td class="three wide">{{data.0.handler}}</td>
                    <td>{{data.1}}</td>
                    <td class="center aligned three wide">
                        <a href="#" class="ui orange button send_btn" id='{{data.0.id}}'>Send Items</a>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ui tab segment" data-tab="second">
        <table id="tabledata2" class="ui column celled table">
            <thead>
                <tr>
                    <th class="three wide">Date Approved</th>
                    <th class="three wide">Team Leader</th>
                    <th>Port</th>
                    <th class="three wide">Approved by</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data2 %}
                <tr>
                    <td class="two wide">
                        <a href="{% url 'unitmanagement:replenishment_approval' data.0.id %}">
                            {{data.0.date_approved | date:'Y-m-d'}}        
                        </a>
                    </td>
                    <td class="three wide">{{data.0.handler}}</td>
                    <td>{{data.1}}</td>
                    <td class="three wide">{{data.0.approved_by}}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

   <div class="ui large modal" id = 'id_data'></div>

<script type="text/javascript">
        
  
    $('#tabledata1').DataTable({
        "order": [[ 0, "desc" ]]
    });

    $('#tabledata2').DataTable({
        "order": [[ 0, "desc" ]]
    });

    $('.menu .item').tab();

   $( ".send_btn" ).bind('click', function() {
        var url = 'replenishment_confirm/ajax_load_replenishment';  
        var id = $(this).attr('id')
        $('.ui.large.modal').modal('show');
        $.ajax({                         
            url: url,                  
            data: {
            'id': id       
            },
            success: function (data) {  
                $("#id_data").html(data);
            }
        });
        
    });
    
</script>
 {% endblock %}