{% extends "profiles/sidebar_deployment.html" %}
{% load static %}
{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>


        <center>
             <img src="{% static 'images/k9_logo.png' %}" width="100">
            <br>Unit Management Report
            <br>as of {{from_date}} to {{to_date}}
        </center>

        <table id="tabledata2" class="ui fixed table">
            <thead>
            <tr>
                <th>K9 INCIDENT</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>K9</th>
                <th>Date</th>
                <th>Incident</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for Inc in incident %}
                <tr>
                    <td>{{Inc.k9}}</td>
                    <td>{{Inc.date}}</td>
                    <td>{{Inc.incident}}</td>
                    <td>{{Inc.description}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table id="tabledata2" class="ui fixed table">
            <thead>
            <tr>
                <th>HEALTH</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>K9</th>
                <th>Date</th>
                <th>Problem</th>
                <th>Treatment</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for H in health %}
                <tr>
                    <td>{{H.dog}}</td>
                    <td>{{H.date}}</td>
                    <td>{{H.problem}}</td>
                    <td>{{H.treatment}}</td>
                    <td>{{H.status}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table id="tabledata2" class="ui fixed table">
            <thead>
            <tr>
                <th>PHYSICAL EXAMINATION</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>K9</th>
                <th>Date</th>
                <th>Date of Next Exam</th>
                <th>Remarks</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for E in physical %}
                <tr>
                    <td>{{E.dog}}</td>
                    <td>{{E.date}}</td>
                    <td>{{E.date_next_exam}}</td>
                    <td>{{E.remarks}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <center>
            END OF REPORT
            <br>Prepared by: {{user}}
        </center>


<script type="text/javascript">

     $(document).ready(function() {
        $('#tabledata1');
        $('#tabledata2');
        $('.menu .item').tab();
    });

</script>
{% endblock %}
