{% extends "profiles/sidebar_pa.html" %} {% block content %}
<h2 class="ui header">
 {{Title}}
  <div class="sub header">Input K9 breeding data here</div>
</h2>

<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">K9 Parents Form</div>
      <div class="description">Select K9 Parents</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Confirm Parents</div>
      <div class="description">Verify selected parents</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Offspring Form</div>
      <div class="description">Provide K9 offspring data</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Confirm Breeding</div>
      <div class="description">Verify breeding details</div>
    </div>
  </div>
</div>

<div class="ui placeholder segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Parents</div>
    <div class="middle aligned row">

      <div class=" column">
        <div class="ui icon header">
            <center>
              <img src="{{mother.image.url}}" alt="" width="200">
            </center>
        </div>
        <div class="field">

         <h2 class="ui dividing header"> <i class="venus icon"></i>Mother</h2>
	
        </div>
      </div>

      <div class="column">
        <div class="ui icon header">
            <center>
              <img src="{{father.image.url}}" alt="" width="200">
            </center>
        </div>

      <div class = "field">

       <h2 class="ui dividing header"><i class="mars icon"></i>Father</h2>
		
      </div>
      </div>

      </div>
    </div>
  </div>
  <div class="ui horizontal segments">
      <div class="ui stacked segment">
        <table class="ui two column celled table">
          <thead>
            <tr>
                <th>Name</th>
                <td>{{mother.name}}</td>
                </tr>
            <tr>
              <th>Serial Number</th>
                <td>{{mother.serial_number}}</td>
                </tr>
            <tr>
              <th>Breed</th>
                <td>{{mother.breed}}</td>
                </tr>
            <tr>
              <th>Sex</th>
                <td>{{mother.sex}}</td>
                </tr>
            <tr>
        <th>Color</th>
                <td>{{mother.color}}</td>
                </tr>
            <tr>
              <th>Age</th>
                <td>{{mother.age}}</td>
                </tr>
            <tr>
              <th>Source</th>
                <td>{{mother.source}}</td>
                </tr>
            <tr>
        </thead>
        </table>
      </div>
      <div class="ui stacked segment">
        <table class="ui celled table">
          <thead>
            <tr>
                <th>Name</th>
                <td>{{father.name}}</td>
                </tr>
            <tr>
              <th>Serial Number</th>
                <td>{{father.serial_number}}</td>
                </tr>
            <tr>
              <th>Breed</th>
                <td>{{father.breed}}</td>
                </tr>
            <tr>
              <th>Sex</th>
                <td>{{father.sex}}</td>
                </tr>
            <tr>
        <th>Color</th>
                <td>{{father.color}}</td>
                </tr>
            <tr>
              <th>Age</th>
                <td>{{father.age}}</td>
                </tr>
            <tr>
              <th>Source</th>
                <td>{{father.source}}</td>
                </tr>
            <tr>
        </thead>
        </table>
      </div>
    </div>
<h2 class="ui center aligned dividing header">Offspring</h2>
  <div class="ui placeholder segment">
    <center>
      <img src="{{offspring.image.url}}" alt="" width="280">
    </center>
  </div>
  <table class="ui celled table">
        	<thead>
          	<tr>
                <th>Name</th>
                <td>{{offspring.name}}</td>
                </tr>
            <tr>
              <th>Breed</th>
                <td>{{offspring.breed}}</td>
                </tr>
            <tr>
              <th>Sex</th>
                <td>{{offspring.sex}}</td>
                </tr>
            <tr>
			  <th>Color</th>
                <td>{{offspring.color}}</td>
                </tr>
            <tr>
              <th>Birthdate</th>
                <td>{{offspring.birth_date}}</td>
                </tr>
            <tr>
              <th>Age</th>
                <td>{{offspring.age}}</td>
                </tr>
            <tr>
              <th>Source</th>
                <td>{{offspring.source}}</td>
                </tr>
            <tr>

    		</thead>
        </table>

  <div class="ui center aligned basic segment" style="padding: 0px;">
<form action="{% url 'planningandacquiring:breeding_confirmed' %}" method="post">
 {% csrf_token %}
    <div class="ui buttons">
  <button class="ui button" name="redo" onclick="return confirm('Are you sure?')">Start Over</button>
  <div class="or"></div>
  <button class="ui positive button" name="ok" onclick="return confirm('Are you sure?')">Confirm</button>
</div>

</form>
  </div>

{% endblock %}
