{% load static %}
{% block content %} 
{% load humanize %}
{% if data1 or data2 or data3%}

<div class="ui segment" id="printableArea">
    <center>
    <br><img src="{% static 'images/k9_logo.png' %}" width="150">
    <br>Philippine Coast Guard
    <br>Maritime Security Command
        <br><b>HEADQUARTERS COAST GUARD K9 FORCE</b>
    <br>Coast Guard Base Taguig
    <br>#56 ML Quezon St. New Lower Bicutan, Taguig City
        <br>Inventory Report
        <br><b>{{from_date}} to {{to_date}}</b></center>

    {% if data2 %}
    <table class="ui small celled structured column table">
        <thead class="center aligned">
            <tr>
                <th colspan="5">DOG FOOD INVENTORY</th>
            </tr>
            <tr>
                <th>Item</th>
                <th>UOM</th>
                <th>Price</th>
                <th>Quantity Used</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data2 %}
            <tr class="right aligned">
                <td class="left aligned">{{data.0}}</td>
                <td class="left aligned">{{data.1}}</td>
                <td>{{data.2|intcomma}}</td>
                <td>{{data.3|intcomma}}</td>
                <td>{{data.4|intcomma}}</td>
            </tr>
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td colspan="4">Dog Food Total Cost</td>
                <td>{{fst_cost|intcomma}}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% if data1 %}
    <table class="ui small celled structured column table">
        <thead class="center aligned">
            <tr>
                <th colspan="5">MEDICINE INVENTORY</th>
            </tr>
            <tr>
                <th>Item</th>
                <th>UOM</th>
                <th>Price</th>
                <th>Quantity Used</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data1 %}
            <tr class="right aligned">
                <td class="left aligned">{{data.0}}</td>
                <td class="left aligned">{{data.1}}</td>
                <td>{{data.2|intcomma}}</td>
                <td>{{data.3|intcomma}}</td>
                <td>{{data.4|intcomma}}</td>
            </tr>
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td colspan="4">Medicine Total Cost</td>
                <td>{{mst_cost|intcomma}}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if data3 %}
    <table class="ui small celled structured column table">
            <thead class="center aligned">
                <tr>
                    <th colspan="5">MISCELLANEOUS INVENTORY</th>
                </tr>
                <tr>
                    <th>Item</th>
                    <th>UOM</th>
                    <th>Price</th>
                    <th>Quantity Used</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data3 %}
                <tr class="right aligned">
                    <td class="left aligned">{{data.0}}</td>
                    <td class="left aligned">{{data.1}}</td>
                    <td>{{data.2|intcomma}}</td>
                    <td>{{data.3|intcomma}}</td>
                    <td>{{data.4|intcomma}}</td>
                </tr>
                {%endfor%}
                <tr class="right aligned" style="font-weight: bold;">
                    <td colspan="4">Miscellaneous Total Cost</td>
                    <td>{{misc_cost|intcomma}}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    <table class="ui small celled column table">
        <thead class="right aligned">
            <th class="ten wide">TOTAL COST</th>
            <th>{{total|intcomma}}</th>
        </thead>
    </table>
    
    <br>
    <br>
    <br>
    <br>
    Report generated by:
    <br>
     <br>
    {{user}}
    <br>

</div>
<center><input type="button" class="ui primary button"
onclick="printDiv('printableArea')" value="Print" /></center>

{% else %}
<div class="ui blue icon message">
    <i class="folder open icon"></i>
    <div class="content">
        <div class="header">
            NO REPORT FOR THE SELECTED DATE RANGE. :(
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript">

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
 {% endblock %}